body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.MuiGridList-root, .MuiGridListTile-root {
	height: auto !important;
}

.MuiSvgIcon-fontSizeSmall {
	font-size: 0.9em !important;
}

.MuiInput-root {
	width: 100%;
}
